*.iml
*.apk
*.ap_
*.dex
bin/
gen/
out/
.gradle/
build/
*.log
.navigation/
captures/
.idea/
*.jks
.externalNativeBuild
local.properties
/trunk/gradle/*
/trunk/gradlew
/trunk/gradlew.bat
/trunk/import-summary.txt
/trunk/.idea